POSTGRES_DB=serviceops
POSTGRES_USER=serviceops
POSTGRES_PASSWORD=serviceops_dev
POSTGRES_PORT=5432
KAFKA_PORT=19092
BACKEND_PORT=8080
AI_SERVICE_PORT=8000
FRONTEND_PORT=3000
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=serviceops_observe_2026
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
ALERT_SINK_PORT=18081
LOKI_PORT=3100
TEMPO_PORT=3200
OTEL_HEALTH_PORT=13133
OTEL_TRACES_SAMPLER_ARG=1.0
SERVICEOPS_AUTH_ISSUER=serviceops-local
SERVICEOPS_AUTH_AUDIENCE=serviceops-api
SERVICEOPS_AUTH_JWT_SECRET=replace-this-local-development-signing-key-32-chars
SERVICEOPS_AUTH_OPERATOR_USERNAME=operator
SERVICEOPS_AUTH_OPERATOR_PASSWORD=operator_dev_2026
SERVICEOPS_AUTH_VIEWER_USERNAME=viewer
SERVICEOPS_AUTH_VIEWER_PASSWORD=viewer_dev_2026
